{% extends 'global/base.html' %}

{% block title %}Dashboard | {% endblock title %}

{% block content %}
  <div class="main-content center container">
    <h2>Dashboard ({{ user }})</h2>
    {% include 'authors/partials/login_messages.html' %}

    <div class="authors-dashboard-container">
      <h3>Your recipes</h3>

      <ul>
        {% for recipe in recipes %}
          <li>
            <a href="{% url 'authors:edit_recipe' recipe.id %}">{{recipe.title}}</a>
            <form 
            action="{% url 'authors:delete_recipe' %}" 
            class="inline-form form-delete" 
            method="POST">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ recipe.id }}">
              - <button type="submit" class="plaintext-button">Delete recipe</button>
            </form>
          </li>
        {% empty %}
          <li>
            <p>
              You do not have recipe, please create one
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% include 'global/partials/messages.html' %}

{% endblock content %}